# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# Unity
Library/
Temp/

# OS
.DS_Store
Thumbs.db

# Build output
/dist
__pycache__/
python/**/__pycache__/

